CoedE1.sched.csv
CoedE2.sched.csv
CoedE3.sched.csv
MensCD.sched.csv
MensD.sched.csv
MensE.sched.csv
MensE1.sched.csv
MensE2.sched.csv
backup/
mastersched.csv
testsched-4b1a8ed19321.json
build
dist
*.pdf
.*.swp
